div.demo
  div.header
    img(src="/assets/opi-logo.png")
    h1 Transmogrifier
  hr
  div.content
    translator
    facts((factGenerated)="incrementFactCounter()")
    h3 Generated {{ factCounter }} facts